-Item.all(:order => [:date_modified.desc]).first(5).each do |itm|
  %div{:style => "padding:10px;background-color:#BBBBBB;border: 5px solid #000000;"}
    %div{:style => "font-size:35px;"}
      %a{:href => "details?upc=#{itm.upc}", :style => "color:#0000FF;cursor:pointer;"}=itm.iname
    %div{:style => "font-size:18px;"} Created: #{itm.date_added} pm&nbsp;&nbsp;&nbsp;&nbsp;Modified: #{itm.date_modified}
    %div{:style => "font-size:20px;"}
      UPC: #{itm.upc}
      %br/
      Category: #{itm.category.cname}
      -itm.itemAttributes.all.each do |attr|
        %br/
        #{attr.akey}: #{attr.avalue}


